﻿@model LentItems.DATA.EF.Category

@{
    ViewBag.Title = "Delete" + Model.CategoryName;
}


<h3>Are you sure you want to delete this category: <span class="myWarning">@Model.CategoryName</span></h3>
<div>
    <hr />

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="yes" class="btn btn-success" /> |
            @Html.ActionLink("no", "Index",null, new { @class="btn btn-danger"})
        </div>
    }
</div>
