﻿@model LentItems.DATA.EF.Category

@{
    ViewBag.Title = "Edit" + Model.CategoryName;
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CategoryID)
   
    
    
    
     <div class="categoryWrapper" style="float:none;margin:auto;">
        <div class="categoryHeader"><h3>
    @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
    </h3>@Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
</div>
        <div class="categoryContent" style="height:17em;">@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder="description..." } })
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
</div>
        <div class="categoryFooter" >
            <div class="cfLeft">@Html.ActionLink("cancel", null,null,null, new {@class="btn btn-danger",@href=Request.UrlReferrer })
</div>
            <div class="cfRight"><input type="submit" value="update" class="btn btn-success" />
</div>
            <div class="clearfix"></div>
        </div>

    </div>

}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
