﻿@model IEnumerable<LentItems.DATA.EF.Category>

@{
    ViewBag.Title = "Categories";
}

<h2>@ViewBag.Title</h2>
<p>simple changes that should be made page by opage as appropriate:</p>
<ul>
    <li>view bag title should reflect the data being viewed</li>
    <li>h2 should do the ame use the viewbag.title by page as appropriate</li>
    <li> create new link should be more informative</li>
    <li>edit and details links are fine, if delete is a soft delete the text on the button should match the activity</li>
    <li>back to list link should be made more user firendly on creates edits and deletes it should be a cancel/no button</li>
    <li>items that cannott be hard deleted (by DB rules PK-FK) should have delete links hidden and text provided that deltes are not available</li>
    <li>administrative links should be hiddenbased on requirements and user role</li>

</ul>
<div id="heading">
    <p class="add">
        @Html.ActionLink("add category", "Create")
    </p>
    <p class="toggle">
        @Html.ActionLink("View in tiles","Tiles")
    </p>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CategoryID }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.CategoryID }) |*@

            @if (item.Items.Count>0)
            {
                <span class="myWarning">In Use</span>
            }
            else
            {
                @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID })
            }
        </td>
    </tr>
}

</table>
