﻿@model IEnumerable<LentItems.DATA.EF.Category>

@{
    ViewBag.Title = "category tile view";
}

<h2>@ViewBag.Title</h2>

<div id="heading">
    <p class="add">
        @Html.ActionLink("add category", "Create")
    </p>
    <p class="toggle">
        @Html.ActionLink("View in Table", "Index")
    </p>
</div>

@foreach (var item in Model) {
    <div class="categoryWrapper">
        <div class="categoryHeader">
            <h3>@Html.DisplayFor(modelItem => item.CategoryName)</h3>
        </div>
        <div class="categoryContent">
            @Html.DisplayFor(modelItem => item.Description)
        </div>
        <div class="categoryFooter">
            <div class="cfLeft">@Html.ActionLink("Edit", "Edit", new { id = item.CategoryID })
</div>
            <div class="cfRight">
                @if (item.Items.Count > 0)
                {
                    <span class="myWarning">In Use</span>
                }
                else
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID })
                }


</div>
            <div class="clearfix"></div>
        </div>

    </div>

            @*@Html.DisplayFor(modelItem => item.CategoryName)
            @Html.DisplayFor(modelItem => item.Description)

    

            @Html.ActionLink("Details", "Details", new { id=item.CategoryID }) |*@
}

