﻿/*
    these are custom styles that are outside of the base css and bootstrap in this file u will find bootstrap overrides
    (if applicable) and custom css for the forms and display of this website
*/


textarea{
    /*overrides 282 max widh from BS*/
    max-width:500px;
    /*this overrides the default draggable corner of a text area*/
    resize:none;
    min-height:200px;
}
input[type="text"],
input[type="email"],
input[type="date"] {
}


label{
    font-variant:small-caps;
}
select/*drop down list*/
{

}

.body-content
{
    min-height:670px;
}

footer{
    text-align:center;
}

/*show the selected item in the navigation*/
.nav li.selected a{
    color:fuchsia;
}

/*
    heading for categories to format the add new toggle links at the top


*/

#heading
{
    width:96%;

}

.add{
    float:left;width:49%
}
.toggle{
    margin-left:50%;text-align:right;
}

#heading a{
    color:fuchsia;
    font-size:1.25em;
    font-weight:700;
}

.myWarning{
    color:red;
    font-style:italic;
    font-weight:700;

}

/*
    tiles formatting
*/

.categoryWrapper{
    width:31%;
    float:left;
    background-color:blue;
    color:white;
    border-radius:1em;
    padding:1em;
    margin:.5em;
}
.categoryHeader
{
    text-align:center;
}
.categoryHeader h3
{
    margin-top:inherit;
}
.categoryContent{
    height:6em;

}
.cfLeft a,cfRight a{
    color:fuchsia;

}
.cfLeft{
    float:left;
    width:49%;

}
.cfRight{
    margin-left:50%;
    text-align:right;
}