﻿@{
    ViewBag.Title = "Home Page";
}

<div>
    this projecty was used tgo reinforce he concept of building 2 tier projects with data and mvc. in the categories sections you will find
    <ul>
        <li>Table Layout and Tile Layout(see custom css for values)</li>
        <li>metadata rules and information can be found in the data layer</li>
        <li> hiding delete buttons when delete is not available
        </li>
        <li>Custom CSS</li>
        <li>Controller explanations and modifications in categories controller</li>
        <li>asic formatting for all views to knock out template scaffolding</li>
        <li> highligh the selected navigation on the layout - jquery and custom styles</li>
    </ul>
</div>